###**Data Types and Structures Questions - Theory**


 1. **What are data structures, and why are they important?**  
 - Data structures in Python are specialized formats or containers used to store and organize data efficiently.
 - They provide various ways to store, access, and manipulate data according to specific needs.

  Importance:  
- Optimize algorithms for better performance.  
- Enable efficient data storage and retrieval.  
- Facilitate problem-solving in fields like AI, databases, and web development.

---

 2. **Explain the difference between mutable and immutable data types with examples.**  
- **Mutable**: Can be changed after creation (e.g., lists, dictionaries).  
  Example:  
  ```python
  my_list = [1, 2, 3]
  my_list[0] = 10  # Changes the first element to 10
  ```  
- **Immutable**: Cannot be changed after creation (e.g., strings, tuples).  
  Example:  
  ```python
  my_tuple = (1, 2, 3)
  # my_tuple[0] = 10  # This would raise an error
  ```
---

3.  **What are the main differences between lists and tuples in Python?**  
 - **Mutability**: Lists are mutable, tuples are immutable.  
 - **Performance**: Tuples are faster due to immutability.  


---

 4. **Describe how dictionaries store data.**  
Dictionaries store data in **key-value pairs** using a **hash table**. The key is hashed to determine the index where the value is stored, allowing for fast lookups.
---

5.  **Why might you use a set instead of a list in Python?**  
- Sets are unordered collections of unique elements. They are useful when you need to work with distinct items and perform set operations like union, intersection, and difference.

---

6. **What is a string in Python, and how is it different from a list?**  
A **string** is a sequence of characters, while a list is a sequence of any data type.  
- Strings are immutable; lists are mutable.  
- Strings are optimized for text operations.

---

7.  **How do tuples ensure data integrity in Python?**  
Tuples are immutable, ensuring that data cannot be altered accidentally or maliciously after creation.

---

8.  **What is a hash table, and how does it relate to dictionaries in Python?**  
A **hash table** is a data structure that maps keys to values using a hashing function.  
- Python dictionaries are implemented as hash tables, providing O(1) average time complexity for lookups.

---

9. **Can lists contain different data types in Python?**  
Yes, lists can hold elements of different data types.  
Example:  
```python
my_list = [1, "hello", 3.14, [4, 5]]
```

---

10. **Explain why strings are immutable in Python.**  
Strings are immutable to:  
- Ensure thread safety.  
- Optimize performance via internal caching.  
- Enable their use as dictionary keys.
---


11. **What advantages do dictionaries offer over lists for certain tasks?**  
- Faster lookups using keys (O(1)).  
- More intuitive data organization with key-value pairs.  

---

12. **Describe a scenario where using a tuple would be preferable over a list.**  
When storing data that should not change, such as coordinates `(x, y)` or database records.

---

13. **How do sets handle duplicate values in Python?**  
Sets automatically discard duplicate values.  
Example:  
```python
my_set = {1, 2, 2, 3}  # Results in {1, 2, 3}
```
---


14. **How does the `in` keyword work differently for lists and dictionaries?**  
- In lists, `in` checks for values.  
- In dictionaries, `in` checks for keys.  

---

15. **Can you modify the elements of a tuple? Explain why or why not.**  
No, tuples are immutable. Once created, their elements cannot be changed.  

---

16. **What is a nested dictionary, and give an example of its use case.**  
A **nested dictionary** is a dictionary containing another dictionary.  
Example:  
```python
student = {"name": "Alice", "grades": {"math": 90, "science": 85}}
```  
**Use Case**: Organizing hierarchical data, such as user profiles or database records.

---

17. **Describe the time complexity of accessing elements in a dictionary.**  
Accessing elements in a dictionary has an average time complexity of **O(1)** due to hash table implementation.


---
 18. **In what situations are lists preferred over dictionaries?**  
- When data is ordered or requires indexing.  
- When the dataset has no unique keys.  


---
 19. **Why are dictionaries considered unordered, and how does that affect data retrieval?**  
Dictionaries are unordered because they use hash tables for storage.  
**Effect**: Keys are retrieved without any guaranteed order of insertion (though from Python 3.7+, insertion order is preserved).


---
 20. **Explain the difference between a list and a dictionary in terms of data retrieval.**  
- **Lists**: Access elements by index (position).  
- **Dictionaries**: Access elements by key, allowing for more descriptive and direct lookups.

---
---

###**Practical Questions**

In [1]:
#1. Write a code to create a string with your name and print itE
name = "Vidhi"
print(name)

Vidhi

In [2]:
#2. Write a code to find the length of the string "Hello World"E
string = "Hello World"
print(len(string))

11

In [3]:
#3. Write a code to slice the first 3 characters from the string "Python Programming".
string = "Python Programming"
print(string[:3])

Pyt

In [4]:
#4. Write a code to convert the string "hello" to uppercaseE
string = "hello"
print(string.upper())

HELLO

In [5]:
#5. Write a code to replace the word "apple" with "orange" in the string "I like apple"E
string = "I like apple"
print(string.replace("apple", "orange"))

I like orange

In [6]:
#6. Write a code to create a list with numbers 1 to 5 and print itE
numbers = [1, 2, 3, 4, 5]
print(numbers)

[1, 2, 3, 4, 5]

In [7]:
#7. Write a code to append the number 10 to the list [1, 2, 3, 4]
numbers = [1, 2, 3, 4]
numbers.append(10)
print(numbers)

[1, 2, 3, 4, 10]

In [8]:
#8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
numbers = [1, 2, 3, 4, 5]
numbers.remove(3)
print(numbers)

[1, 2, 4, 5]

In [9]:
#9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
letters = ['a', 'b', 'c', 'd']
print(letters[1])

b

In [10]:
#10. Write a code to access the second element in the list ['a', 'b', 'c', 'd']
numbers = [10, 20, 30, 40, 50]
numbers.reverse()
print(numbers)

[50, 40, 30, 20, 10]

In [11]:
#11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
my_tuple = (10, 20, 30)
print(my_tuple)

(10, 20, 30)

In [12]:
#12. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
fruits = ('apple', 'banana', 'cherry')
print(fruits[0])

apple

In [13]:
#13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
my_tuple = (1, 2, 3, 2, 4, 2)
print(my_tuple.count(2))

3

In [14]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
animals = ('dog', 'cat', 'rabbit')
print(animals.index("cat"))

1

In [15]:
#15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
fruits = ('apple', 'orange', 'banana')
print("banana" in fruits)

True

In [16]:
#16.  Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
my_set = {1, 2, 3, 4, 5}
print(my_set)

{1, 2, 3, 4, 5}

In [17]:
#17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.add(6)
print(my_set)

{1, 2, 3, 4, 6}